@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #2f2f2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}